extends ../layout.pug

block content
  h1.greeting Settings

  .panel.panel-default
    .panel-body Todo: Settings to make saved locations public. So users don't have to be logged in all the time.

  .panel.panel-default
    .panel-body Todo: Units settings for wind speed and temperature


  .panel.panel-default
    .panel-body
      ul
        li email: #{user.email}
          br
          a(href='/settings/change-email') Change Email
        li
          a(href='/settings/change-password') Change Password
