extends layout.pug

block content
  h1.greeting Search for a place

    #floating-panel
      input#address.form-control(
        type='textbox'
        )
      input#submit.btn.btn-primary(
        type='button'
        value='Geocode'
        )
    #map
