
body {
   color: $textBaseColour;
   font-family: 'Inter UI', sans-serif;
}

#app {
	padding-top: 45px;
}

.uiClose {
	width: 40px;
	height: 40px;
	background-color: red;
}

.uiOverlayPanel {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
}

.uiOverlayPanel--hasButtons {
	padding-bottom: 60px;
}

.uiButtonGroup {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	display: flex;
	padding: 10px;
}

.uiButton {
	background: orange;
	padding: 10px;
	margin: 0 5px;
}

.globalMessages {
	position: fixed;
	top: 30px;
	left: 20px;
	right: 20px;
	z-index: 2000;
}

.uiMessage {
	margin: 0 0 0.5em 0;
	font-size: 13px;
	padding: 1em;
	position: relative;
	
	&.success {
		background-color: $messageSuccessBackground;
		color: $messageSuccessText;
	}
	&.warning {
		background-color: $messageWarningBackground;
		color: $messageWarningText;
	}
	&.error {
		background-color: $messageErrorBackground;
		color: $messageErrorText;
	}
	&.info {
		background-color: $messageInfoBackground;
		color: $messageInfoText;
	}
}

.uiMessage__dismiss {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 3em;
	border-left: 1px solid rgba(#fff, 0.5);
}

.mainNav {
	height: 40px;
	padding: 0 50px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
}

.mainNav__title {
	text-align: center;
	display: block;
	line-height: 40px;
}

.mainNav__contextMenu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 40px;
	background: orange;
}

.uiLoadScreen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}