
body {
   color: $textBaseColour;
   font-family: 'Inter UI', sans-serif;
}

#app {
	padding-top: 40px;
}

.uiClose {
	width: 40px;
	height: 40px;
	background-color: red;
}

.uiOverlayPanel {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
}

.uiOverlayPanel--hasButtons {
	padding-bottom: 60px;
}

.uiButtonGroup {
	// position: fixed;
	// bottom: 0;
	// left: 0;
	// right: 0;
	display: flex;
}


.globalMessages {
	position: fixed;
	top: 30px;
	left: 20px;
	right: 20px;
	z-index: 2000;
}

.uiMessage {
	margin: 0 0 0.5em 0;
	font-size: 13px;
	padding: 1em;
	position: relative;
	
	&.success {
		background-color: $messageSuccessBackground;
		color: $messageSuccessText;
	}
	&.warning {
		background-color: $messageWarningBackground;
		color: $messageWarningText;
	}
	&.error {
		background-color: $messageErrorBackground;
		color: $messageErrorText;
	}
	&.info {
		background-color: $messageInfoBackground;
		color: $messageInfoText;
	}
}

.uiMessage__dismiss {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 3em;
	border-left: 1px solid rgba(#fff, 0.5);
}

.mainNav {
	height: 40px;
	padding: 0 50px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
}

.mainNav__title {
	text-align: center;
	display: block;
	line-height: 40px;
}

.mainNav__contextMenu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 40px;
	background: orange;
}

.uiLoadScreen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}




.viewTitle {
	height: 40px;
	line-height: 40px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 40px;
	right: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.uiTabs {
	height: 40px;
	display: flex;
}

.uiTabs__tab {
	flex: 1 1 auto;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-bottom: 2px solid silver;
}

.uiTabs__tab--active {
	border-bottom: 2px solid green;
}


// @todo: sort out

.mapSearchView_wrapper {
	position: relative;
	height: calc(100vh - 120px);
}


.googleMap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	#map {
		position: absolute !important;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

// ---

.uiTextInputGroup {
	display: block;
	margin: 1em;

	.help {
		font-size: 12px;
		display: block;
		margin: 1em 0;
	}
}

.uiLabel {
	font-size: 12px;
}

.uiTextInput {
	display: block;
	border-bottom: 2px solid green;
	width: 100%;
	padding: 1em 0;

	&.is-invalid {
		border-bottom-color: red;
		background: pink;
	}
}

.uiButton {
	display: block;
	width: 100%;
	background: green;
	padding: 1em;
	color: #fff;
}

.uiCheckBox {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background: #ddd;
	&:checked {
		background-color:green;
	}
}



.uiGroup {
	display: block;
	border: 1px solid red;
	padding: 1em;
	margin: 1em;
}

.uiGroup__title {
	border-bottom: 1px solid #ddd;
	display: block;
	width: 100%;
}

.uiModal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background: #fff;
	z-index: 11000;
}