body, html {
	height: 100vh;
	overflow: hidden;
}

body {
	color: $textBaseColour;
	font-family: 'Inter UI', sans-serif;
}

.app {
}

// @todo: rework to CSS grids for better control for responsive design 
.viewWrapper {
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 40px 0 0 0;
	height: 100vh;
	overflow: hidden;
}

.viewWrapper__scroller {
	flex: 1 1 auto;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.viewWrapper__scroller--noScroll {
	overflow: hidden;
}

.viewWrapper__bottom {
	
}

.uiSection {
	margin: 1em;
}


.uiClose {
	width: 40px;
	height: 40px;
	background-color: red;
}

.uiOverlayPanel {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
}

.uiOverlayPanel--hasButtons {
	padding-bottom: 60px;
}
.uiPromptQuestion {
	font-size: 0.8rem;
	margin: 0 0 1em 0;
	text-align: center;
}

.uiButtonGroup {
	display: flex;
	.uiButton:not(:last-child) {
		margin-right: 1px;
	}
}

.uiButtonGroup--gutter {
	padding: $widthGridLargerSpace;
}


.globalMessages {
	position: fixed;
	top: 30px;
	left: 20px;
	right: 20px;
	z-index: 2000;
}


.mainNav {
	height: 40px;
	padding: 0 50px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
}

.mainNav__title {
	text-align: center;
	display: block;
	line-height: 40px;
}

.mainNav__contextMenu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 40px;
	background: orange;
}







.googleMap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	#map {
		position: absolute !important;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

// ---

.uiTextInputGroup {
	display: block;
	margin: 0 0 1em 0;
	position: relative;


}

.uiLabel {
	font-size: 0.7rem;
	display: block;
}

.uiTextInput {
	display: block;
	height: $uiInputHeight;
	border-bottom: 1px solid $uiInputBorderColor;
	padding: 0 0;
	width: 100%;

	&:focus {
		border-bottom-color: $uiInputBorderColor--active;
		border-width: 2px;
	}

	&.is-invalid:not(.is-untouched) {
		border-bottom-color: red;
		background: #fdebee;
		color: #c70000;
	}
}

.uiButton {
	display: block;
	width: 100%;
	background: #444;
	padding: 0 1em;
	height: 40px;
	color: #fff;
	font-size: $fontSizeButton;
	text-transform: uppercase;
	text-align: center;
	line-height: 40px;
}

.uiButton--primary {
	background-color: $uiButtonPrimary;
}

.uiButton--danger {
	background-color: red;
}

.uiCheckBox {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background: #ddd;
	&:checked {
		background-color:green;
	}
}

.uiHelp {
	display: block;
	font-size: 0.7rem;
	padding: 1em 0 0 0;
	color: #c70000;
}


.uiGroup {
	border-radius: 2px;
	display: block;
	border: 1px solid $uiFrame;
	padding: $widthGridLargerSpace * 1.5 $widthGridLargerSpace $widthGridLargerSpace $widthGridLargerSpace;
	margin: $widthGridLargerSpace;
	position: relative;

	& > .uiButtonGroup > * {
		margin-bottom: $widthGridLargerSpace;
	}

	& > *:last-child {
		margin-bottom: 0;
	}
}

.uiGroup__title {
	display: inline-block;
	padding: 0 0.5em;
	font-size: 0.7rem;
	margin: 0 0 $widthGridLargerSpace -0.5em;
	position: absolute;
	top: -0.6em;
	left: $widthGridLargerSpace;
	background: #fff;
	color: #888;
}



.uiLink {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0;
	font-size: $fontSizeButton;
}

.uiLink--primary {
	color: $uiInputActive;
	font-weight: bold;
}


.message {
	font-size: 0.7rem;
	margin: 0 0 1em 0;
}


.uiTitle {
	text-align: center;
	background: rgb(223, 108, 0);
	color: #fff;
	padding: 1em;
	display: block;
	font-size: 0.8rem;
}