

.placesList {
	
}

.placesList__itemWrapper {
	display: block;
	height: 40px;
}

.placesList__itemPlaceHolder {
	display: block;
	height: 40px;
}

.placesList__item {
	height: 40px;
	width: 100%;
	display: flex;
	position: relative;
	top: 0;

	&.can-transition {
		transition: all 0.2s ease-in-out;
	}

	&.is-dragging {
		position: absolute;
		left: 0;
		background: pink;
		z-index: 1;
	}
}

.placesList__contextMenuToggler {
	margin-left: auto;
	display: block;
	width: 40px;
	height: 40px;
	background: red;
}

.placesList__contextMenu {
	position: absolute;
	right: 40px;
	top: 0;
	background: silver;
	height: 40px;
}

.placesList__sortingDragger {
	position: absolute;
	right: 0;
	top: 0;
	background: orange;
	width: 40px;
	height: 40px;
	border-bottom: 1px solid silver; 
	&.is-dragging {
		background: blue;
	}
}