$widthStatusBar: 4px;
$widthGridSpace: 2vw;

$windSpeedBarHeight: 8px;

$textBaseColour: #242729;
$colorBorder: #DAE4EB;

$yes: #3CBB22;
$no: #DF4410;
$inactive: #859098;
$textColourStatus: #fff;

$statusYes: $yes;
$statusNo: $no;
$statusNA: $inactive;