// Layers
$layer-navigation: 10;

// Global Colours
$brandMainColour: #FF4800;
$brandAccentColour: #00AE3C;
$colorAppBackground: #fff;
$colorSubtleBorder: #e6e6e6;

// Navigation
$background-burger: $colorAppBackground;
$color-burger: rgb(95, 95, 95);

$background-popup-overlay: rgba(#333, 0.5);

// UI elements
$uiInputBorderColor: #8F9DA8;
$uiInputBorderColor--active: $brandAccentColour;
$uiInputActive: $brandAccentColour;
$uiInputActiveFront: #fff;
$uiButtonPrimary: $brandAccentColour;
$uiButtonPrimaryFront: #fff;
$uiInputInactive: $uiInputBorderColor;
$uiInputInactiveFront: #666;
$uiFrame: $colorSubtleBorder;
$uiInputHeight: 40px;
$uiFocus: $brandMainColour;  

$uiPopupBackground: rgba(#fff, 0.8);
$uiPopupIndex: 1000;

// @todo: some nice naming convention

$fontSizeButton: 0.7rem;


$widthStatusBar: 4px;
$widthGridSpace: 2vw;
$widthGridLargerSpace: 4vw;

$windSpeedBarHeight: 8px;

$textBaseColour: #242729;
$textLabelColour: #8F9DA8;

$colorBorder: #DAE4EB;
$colorPanel: #EDEDED;
$bgDayLabel: #eae4d0;




$yes: #3CBB22;
$no: #DF4410;
$inactive: #859098;
$textColourStatus: #fff;

$statusYes: $yes;
$statusNo: $no;
$statusNA: $inactive;


$messageSuccessBackground: green;
$messageSuccessText: #fff;
$messageWarningBackground: yellow;
$messageWarningText: #000;
$messageErrorBackground: red;
$messageErrorText: #fff;
$messageInfoBackground: blue;
$messageInfoText: #fff;