<div class="modal">
  <div class="" class="mainNav mainNav--register">
      <h1 class="mainNav__title">Sign-up</h1>
  </div>
  <form v-if="show" v-on:submit.prevent="onSubmit">
    <span
      v-if="errors.registrationFailed && !errors.unknownFailure"
      class="help is-danger">
        {{errors.message}}
    </span>
    <span
      v-else-if="errors.unknownFailure"
      class="help is-danger">
        Registration failed. Sorry not sure why.
        Please try again.
      </span>

    <label class="label" for="username">Username</label>
    <br>
    <input
      v-validate="{ rules: { required: true, alpha_dash: true } }"
      :class="{'input': true, 'is-danger': validationErrors.has('username') }"
      name="username"
      v-model="username"
      type="text"
      placeholder="Enter your username here"
      autofocus
      data-vv-delay="1000"
    >
    <br>
    <span
      v-show="validationErrors.has('username')"
      class="help is-danger">{{ validationErrors.first('username') }}
    </span>
    <br>


    <label class="label" for="password">Password</label>
    <br>
    <input
      v-validate="{ rules: { required: true } }"
      :class="{'input': true, 'is-danger': validationErrors.has('password') }"
      name="password"
      v-model="password"
      type="password"
      placeholder="Enter your password here"
      autofocus
      data-vv-delay="1000"
    >
    <br>
    <span
      v-show="validationErrors.has('password')"
      class="help is-danger">{{ validationErrors.first('password') }}
    </span>



  <br>

    <!-- @todo: Delay the validation till the first field is filled -->

    <label class="label" for="confirmPassword">Confirm Password</label>
    <br>
    <input
      v-validate="{ rules: { required: true, confirmed:'password' } }"
      :class="{'input': true, 'is-danger': validationErrors.has('confirmPassword') }"
      name="confirmPassword"
      v-model="confirmPassword"
      type="password"
      placeholder="Enter your password here"
      autofocus
      data-vv-delay="1000"
    >
    <br>
    <span
      v-show="validationErrors.has('confirmPassword')"
      class="help is-danger">
        {{ validationErrors.first('confirmPassword') }}
        {{ validationErrors }}
    </span>



  <br>

    <label class="label" for="email">Email</label>
    <br>
    <input
      v-validate="{ rules: { required: true, email: true } }"
      :class="{'input': true, 'is-danger': validationErrors.has('email') }"
      type="email"
      name="email"
      v-model="email"
      placeholder="Enter your email here"
      data-vv-delay="1000"

    />
    <span v-show="validationErrors.has('email')" class="help is-danger">{{ validationErrors.first('email') }}</span>
    <br>


    <button type="submit">Signup</button>
  </form>
</div>
