.bearingSelector {
	position: fixed;
	top: 80px;
	bottom: 40px;
	width: 100%;
	background: rgba(green,0.5);
	transition: all 200ms ease-in-out;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	
}
.bearingSelector--inactive {
	pointer-events: none;
	background: rgba(#fff,0);
	opacity: 0.8;
	.bearingSelectorDial__knob-wrapper {
		opacity: 0;
	}
}

.bearingSelector--active {
	pointer-events: all;
}

.bearingSelector--activeDial {
	background: rgba(green,0.2);
}


.bearingSelector__display {
	text-align: center;
	color: #fff;
	padding: 0.5em 0 0.25em 0.5em;
	font-size: 14px;
}

.bearingSelector__display-digit {
	display: inline-block;
	min-width: 0.8em;
	text-align: center;
}

.bearingSelectorDial {
	display: block;
	margin: 0 auto;
}

.bearingSelectorDial__dialSteps {
	fill: none;
	stroke-width: 15;
	stroke: #fff;
	stroke-dasharray: 2,45;
	stroke-dashoffset: 0;
}

.bearingSelectorDial__dialSteps--small {
	stroke-dasharray: 1,5;
	stroke-width: 8;
}

.bearingSelectorDial__runway {
	stroke: #fff;
	stroke-width: 2;
}

.bearingSelectorDial__knob {
	fill: orange;
}

.bearingSelectorDial__knob--active {
	fill: #fff;
}

.bearingSelectorDial__direction {
	fill: #fff;
}
