.status {
    display: block;
    width: $widthStatusBar;
    overflow: hidden;
    text-indent: 100%;
    min-height: 20px;
    &.yes {
        background-color: $statusYes;
    }
    &.no {
        background-color: $statusNo;
    }
    &.na {
        background-color: $statusNA;
    }
}