

.weatherDetails {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 195px;
	border-color: $colorPanel;
	border-style: solid;
	border-width: 0 $widthStatusBar;
	margin-top: 5px;
}


.weatherDetails__cursorAt {
	position: absolute;
	top: -2px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 12px;

	.status {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -1px;
		margin-right: 0.2em;
		
	}
}

.weatherDetails__cursorTime {
	display: inline-block;
	min-width: 3em;
}

.weatherDetails__hour,
.weatherDetails__minutes {
	display: inline-block;
	min-width: 1.3em;
}

.weatherDetails__cursorDate {
	display: inline-block;
	min-width: 11em;
}

.weatherDetails__col {
	display: flex;
	flex-direction: column;
}

.weatherDetails__col--1 {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.weatherDetails__col--2 {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	text-align: right;
}

.weatherDetails__display {
	margin: 0 0 18px 0;
	position: relative;
	&:nth-child(3) {
		margin-top: auto;
		margin-bottom: 32px;
	}
	.weatherDetails__col--1 & {
		padding-left: $widthGridSpace;
	}
	.weatherDetails__col--2 & {
		padding-right: $widthGridSpace;
	}
	.status {
		position: absolute;
		top: 0;
		height: 100%;
		
		.weatherDetails__col--1 & {
			left: -$widthStatusBar;
		}
		.weatherDetails__col--2 & {
			right: -$widthStatusBar;
		}
	}
}

.weatherDetails__label {
	font-size: 9px;
	text-transform: uppercase;
	display: block;
	margin: 0 0 0.2em 0;
}

.weatherDetails__value {
	font-size: 15px;
	display: block;
}

.weatherDetails__valueNote {
	font-size: 7px;
	text-transform: uppercase;
	position: absolute;
	right: 8em;
	bottom: 0.2em;
}



.limitSettingsOverview {
	background: $colorPanel;
	height: 40px;
	display: flex;
	align-items: center;
	color: $textLabelColour;
	padding: 0 0 0 $widthGridSpace;
}

.limitSettingsOverview__button {
	color: $textLabelColour;
	text-transform: uppercase;
	font-size: 9px;
	white-space: nowrap;
	width: 20%;
	text-align: center;

	svg {
		vertical-align: middle;
		fill: $textLabelColour;
		margin: 0 0.5em 0 0;
		position: relative;
		top: -1px;
	}
}	

.limitSettingsOverview__params-wrapper {
	position: relative;
	height: 40px;
	align-items: center;
	width: 80%;
}

.limitSettingsOverview__params-wrapper-scroller {
	display: flex;
	justify-content: space-between;
	overflow: auto;
	height: 40px;
	align-items: center;
	width: 100%;
}

.limitSettingsOverview__params-wrapper-fader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	z-index: 1;

	&::after, &::before {
		content: '';
		display: block;
		height: 40px;
		width: 15px;
		position: absolute;
		background: rgba(237,237,237,1);
		background: -moz-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(237,237,237,0) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,237,237,1)), color-stop(100%, rgba(237,237,237,0)));
		background: -webkit-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(237,237,237,0) 100%);
		background: -o-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(237,237,237,0) 100%);
		background: -ms-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(237,237,237,0) 100%);
		background: linear-gradient(to right, rgba(237,237,237,1) 0%, rgba(237,237,237,0) 100%);
	}
	&:after {
		right: 0;
		transform: rotate(180deg);
	}
	&:before {
		left: 0;
	}
}

.limitSettingsOverview__param {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 0 0 0 30px;
	margin: 0 0 0 1em;

	&:last-child {
		padding-right: 1em;
	}

	svg {
		position: absolute;
		left: 0;
		top: 3px;
		display: block;
		fill: $textLabelColour;
	}
	
}

.limitSettingsOverview__label {
	order: 1;
	font-size: 7px;
	text-transform: uppercase;
	white-space: nowrap;
}

.limitSettingsOverview__value {
	font-size: 10px;
	white-space: nowrap;
}

.limitSettingsOverview__param--windDirection {
	padding-left: 28px;
	svg {
		top: 0;
	}
}

.limitSettingsOverview__param--crossWind {
	padding-left: 30px;
	svg {
		top: 2px;
	}
}

.limitSettingsOverview__param--windSpeed {
	padding-left: 27px;
	svg {
		top: 4px;
	}
}

.limitSettingsOverview__param--temperature {
	padding-left: 18px;
	svg {
		top: -2px;
	}
}

.limitSettingsOverview__param--precipProbability {
	padding-left: 20px;
	svg {
		top: 2px;
	}
}


.runwaySideIndicator {
	position: absolute;
	top: 91px;
	left: 0;
	width: 100%;
	height: 27px;
}

.runwaySideIndicator__runway {
	transform: translate(0,13px);
	stroke: #859098;
	stroke-width: 2;
	stroke-dasharray: 0.5,8;
	stroke-dashoffset: 2;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.runwaySideIndicator__planePosition {
	position: absolute;
	top: -8px;
}

.runwaySideIndicator__planePosition--left {
	left: $widthGridSpace*4;
}

.runwaySideIndicator__planePosition--right {
	right: $widthGridSpace*4;
	
}

.runwaySideIndicator__plane {
	fill: #859098;
}

.windInstrument {
	position: absolute;
	top: 14px;
	left: 50%;
	margin-left: -90px;
	width: 180px;
	height: 180px;
}

.windInstrument__dial {
	fill: none;
	stroke-width: 3;
	stroke: #859098;
}

.windInstrument__dialSteps {
	fill: none;
	stroke-width: 9;
	stroke: #859098;
	stroke-dasharray: 1.5,16.5;
	stroke-dashoffset: 0;
}

.windInstrument__maxWindSpeedIndicator {
	// fill: rgba($statusNo, 0.2);
fill: none;
	stroke: $statusNo;
	stroke-width: 2;
	stroke: rgba($statusNo, 0.3);
}

.windInstrument__center {
	fill: #fff;
	stroke-width: 2;
	stroke: #859098;
}

.svgBar__windSpeedPoint--instrument {
	fill: #fff;
	stroke-width: 0;
}



.windInstrument__windDirectionArrow {
	fill: #859098;
	&.overflow {
		fill: $no;
	}
}

.windInstrument__windDirectionIndicator {
	fill: #859098;
}

.windInstrument {
	.svgBar__windGust {
		stroke:#fff;
		stroke-width:8;
		stroke-dasharray: 2 2;
	}
}

.windInstrument__crossWindPie {
	stroke-width: 0.25;
	fill: none;
	&.yes {
		stroke: lighten($statusYes, 40%);
	}
	&.no {
		stroke: lighten($statusNo, 20%);
	}
}


.limitSettings {
	position: fixed;
	overflow: auto;
	background: #fff;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	padding: 50px 0 0 0;

	.uiClose {
		position: absolute;
		right: 0;
		top: 0;
	}
}